<!-- <section class="popular-categories">
       <div class="container">
          <div class="clearfix">
             <h2>Popular Jobs Categories</h2>
             <a href="#" class="btn-style-1">Explore All Jobs</a> 
          </div>
          <div class="row">
             <div class="col-md-3 col-sm-6">
                <div class="box">
                   <img src="assets/categories-icon-1.png" alt="img">
                   <h4><a href="#">Art, Design &amp; Multimedia</a></h4>
                   <strong>6,213 Jobs</strong>
                   <p>Available in Design &amp; Multimedia</p>
                </div>
             </div>
             <div class="col-md-3 col-sm-6">
                <div class="box">
                   <img src="assets/categories-icon-2.png" alt="img">
                   <h4><a href="#">Restaurant, Food, Hotels</a></h4>
                   <strong>3,750 Jobs</strong>
                   <p>Available in Restaurant &amp; Hotels</p>
                </div>
             </div>
             <div class="col-md-3 col-sm-6">
                <div class="box">
                   <img src="assets/categories-icon-3.png" alt="img">
                   <h4><a href="#">Transporation</a></h4>
                   <strong>1,265 Jobs</strong>
                   <p>Available in Transportation</p>
                </div>
             </div>
             <div class="col-md-3 col-sm-6">
                <div class="box">
                   <img src="assets/categories-icon-4.png" alt="img">
                   <h4><a href="#">Healthcare &amp; Medicine</a></h4>
                   <strong>5,913 Jobs</strong>
                   <p>Available in Medical</p>
                </div>
             </div>
             <div class="col-md-3 col-sm-6">
                <div class="box">
                   <img src="assets/categories-icon-5.png" alt="img">
                   <h4><a href="#">Software &amp; Development</a></h4>
                   <strong>7,418 Jobs</strong>
                   <p>Available in IT</p>
                </div>
             </div>
             <div class="col-md-3 col-sm-6">
                <div class="box">
                   <img src="assets/categories-icon-6.png" alt="img">
                   <h4><a href="#">Accounting &amp; Finance</a></h4>
                   <strong>8,045 Jobs</strong>
                   <p>Available in Accounts &amp; Finance</p>
                </div>
             </div>
             <div class="col-md-3 col-sm-6">
                <div class="box">
                   <img src="assets/categories-icon-7.png" alt="img">
                   <h4><a href="#">Education &amp; Academia</a></h4>
                   <strong>3,891 Jobs</strong>
                   <p>Available in Education</p>
                </div>
             </div>
             <div class="col-md-3 col-sm-6">
                <div class="box">
                   <img src="assets/categories-icon-8.png" alt="img">
                   <h4><a href="#">Construction, Engineering</a></h4>
                   <strong>9,942 Jobs</strong>
                   <p>Available in Architect</p>
                </div>
             </div>
          </div>
       </div></section> -->
<section class="popular-categories">
       <div class="container">
          <div class="clearfix">
             <h2>Popular Jobs Categories</h2>
             <a href="#" class="btn-style-1">Explore All Jobs</a> 
          </div>
          <div class="row">
            <% @subcategory.each do |sub| %>
               <div class="col-md-3 col-sm-6">
                  <div class="box">
                     <img src="assets/categories-icon-1.png" alt="img">
                     <h4><%= link_to sub.name %></h4>
                     <strong>6,213 Jobs</strong>
                     <p>Available in Design &amp; Multimedia</p>
                  </div>
               </div>
            <% end %>
          </div>
       </div>
</section>