<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %> alert-labeled" style="padding:0px;position:fixed;z-index:99;">
        <button type="button" class="close" data-dismiss="alert" style="margin-right:15px;margin-top:5px;">x</button>
                <div class="alert-labeled-row">
                    <span class="alert-<%= key %> alert-label-left alert-labelled-cell">
                        <i class="fa fa-info-circle"></i>
                    </span>
                     <div style="padding:6px;">
                <!-- <p class="header">
                     <span style="font-size: 1.3em;margin-top:5px;" class="fa fa-hand-o-right"></span>
                     <strong>Please Complete Error</strong> 
                     </p> -->
                    <hr class="message-inner-separator">
                    <p class="alert-body alert-body-right alert-labelled-cell">
                    <%= value %>
                    </p>
                    </div>
                </div>
    </div> 
<% end %>




